/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * freight-big-pro:
 *   - http://typekit.com/eulas/000000000000000077359f9d
 *   - http://typekit.com/eulas/000000000000000077359fa0
 * rucksack:
 *   - http://typekit.com/eulas/00000000000000007735a615
 *   - http://typekit.com/eulas/00000000000000007735a61a
 *   - http://typekit.com/eulas/00000000000000007735a61b
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-03-08 17:04:13 UTC"}*/

@import url("/source/_remote/51468e0405f54806abe8.css");

@font-face {
font-family:"freight-big-pro";
src:url("/source/_remote/4f50677e8aab12320267.woff2") format("woff2"),url("/source/_remote/e91ded8eb1cf366db97b.woff") format("woff"),url("/source/_remote/31f1bff3e30a772668f4.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-big-pro";
src:url("/source/_remote/7700f2b8a852cb81c383.woff2") format("woff2"),url("/source/_remote/211d9f5d5aa2eddd3e4f.woff") format("woff"),url("/source/_remote/0e55c2b6de662dbe7903.otf") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"rucksack";
src:url("/source/_remote/bef9f29a53f624c58dce.woff2") format("woff2"),url("/source/_remote/c994553a161046d7c35d.woff") format("woff"),url("/source/_remote/e52d012ce0c419445316.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"rucksack";
src:url("/source/_remote/37cc3aa17af4d088c43a.woff2") format("woff2"),url("/source/_remote/c8c05506d2c5a41aa91b.woff") format("woff"),url("/source/_remote/9ccad13a1ec0aa244e01.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"rucksack";
src:url("/source/_remote/bd1c648dd486e6a3f87e.woff2") format("woff2"),url("/source/_remote/c884fac7a3be70287694.woff") format("woff"),url("/source/_remote/3b526c8b97cccb6432c9.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

.tk-freight-big-pro { font-family: "freight-big-pro",serif; }
.tk-rucksack { font-family: "rucksack",sans-serif; }
