/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * alfabet:
 *   - http://typekit.com/eulas/00000000000000007750e6fb
 *   - http://typekit.com/eulas/00000000000000007750e6fd
 *   - http://typekit.com/eulas/00000000000000007750e702
 * gabriella:
 *   - http://typekit.com/eulas/00000000000000007750b41f
 * panel-sans:
 *   - http://typekit.com/eulas/00000000000000007750bcff
 *   - http://typekit.com/eulas/00000000000000007750bd01
 *   - http://typekit.com/eulas/00000000000000007750bd00
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-10-25 10:49:59 UTC"}*/

@import url("985d8671e7842dd9a868.css");

@font-face {
font-family:"gabriella";
src:url("35688c2b4e65b19918cb.woff2") format("woff2"),url("797d9d310cd4e6cbf3a2.woff") format("woff"),url("cb250068e6e05addc871.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"panel-sans";
src:url("19f24a2369e89f4d6bc9.woff2") format("woff2"),url("2c0499b48b79c2c57509.woff") format("woff"),url("be13964d83da8118b5ef.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"panel-sans";
src:url("434929a76482fbb90434.woff2") format("woff2"),url("decd5fe3cda6967edff4.woff") format("woff"),url("6c7102876a65bd16d5c2.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"panel-sans";
src:url("4f7bef2c6ad3d2ecff88.woff2") format("woff2"),url("93cb6cf454a0ce354c31.woff") format("woff"),url("b2795793b98962c1e5d6.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"alfabet";
src:url("63a2601fe9c1f69fba72.woff2") format("woff2"),url("b95eced67f6477956747.woff") format("woff"),url("98d158d0576b3038f48d.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"alfabet";
src:url("c08aa867ee1581ee0cf5.woff2") format("woff2"),url("1c4946699a5ab2ef86e7.woff") format("woff"),url("a608d689ef735fe3862c.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"alfabet";
src:url("4ffb33156a00c68c7fe8.woff2") format("woff2"),url("a7143696efbe0a354f8a.woff") format("woff"),url("22552ff9500035a08e4d.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-gabriella { font-family: "gabriella",sans-serif; }
.tk-panel-sans { font-family: "panel-sans",sans-serif; }
.tk-alfabet { font-family: "alfabet",sans-serif; }
