/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * kudryashev-d-excontrast-sans:
 *   - http://typekit.com/eulas/00000000000000007735e0cf
 * roc-grotesk:
 *   - http://typekit.com/eulas/00000000000000007735b7c0
 *   - http://typekit.com/eulas/00000000000000007735b7cc
 *   - http://typekit.com/eulas/00000000000000007735b7d0
 *   - http://typekit.com/eulas/00000000000000007735b7d4
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-03-28 12:31:18 UTC"}*/

@import url("/source/_remote/88393b85b93f797870fd.css");

@font-face {
font-family:"roc-grotesk";
src:url("/source/_remote/97dfcaabf790f610c71b.woff2") format("woff2"),url("/source/_remote/68bea69860be1b38de12.woff") format("woff"),url("/source/_remote/7e96595bc78da072b467.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"roc-grotesk";
src:url("/source/_remote/2d0642755d7a935c535b.woff2") format("woff2"),url("/source/_remote/1a9e9c123132f008823b.woff") format("woff"),url("/source/_remote/cab30135cd0e8e5bef39.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"roc-grotesk";
src:url("/source/_remote/337ee80d211b07b695ec.woff2") format("woff2"),url("/source/_remote/eb56b40b3cf3280e67b0.woff") format("woff"),url("/source/_remote/ff66b02ab5916b75b25c.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"roc-grotesk";
src:url("/source/_remote/7e5f2657ccddf000c693.woff2") format("woff2"),url("/source/_remote/1c49ba17be1f744eb61b.woff") format("woff"),url("/source/_remote/b60c155f7087396360cc.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"kudryashev-d-excontrast-sans";
src:url("/source/_remote/e03b66d560d3a3334311.woff2") format("woff2"),url("/source/_remote/767af7e40f480a1a344c.woff") format("woff"),url("/source/_remote/6c072f6e96d6e937a515.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

.tk-roc-grotesk { font-family: "roc-grotesk",sans-serif; }
.tk-kudryashev-d-excontrast-sans { font-family: "kudryashev-d-excontrast-sans",sans-serif; }
