/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * forma-djr-mono:
 *   - http://typekit.com/eulas/0000000000000000775aed83
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2025-05-01 13:04:32 UTC"}*/

@import url("/source/_remote/15eb370653bb6a6ded3d.css");

@font-face {
font-family:"forma-djr-mono";
src:url("/source/_remote/70f7437f99e30606cde7.woff2") format("woff2"),url("/source/_remote/f4b094c1967a74f2f6af.woff") format("woff"),url("/source/_remote/ea23889adf92023e515a.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-forma-djr-mono { font-family: "forma-djr-mono",sans-serif; }
