/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * bely-display:
 *   - http://typekit.com/eulas/00000000000000007735b06a
 * maple-web:
 *   - http://typekit.com/eulas/00000000000000003b9ace1e
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-01-23 09:02:03 UTC"}*/

@import url("/source/_remote/3ac14411a1bad170bf44.css");

@font-face {
font-family:"maple-web";
src:url("/source/_remote/366ee6cd38d9a2313d78.woff2") format("woff2"),url("/source/_remote/437874b7f7ce12a857e7.woff") format("woff"),url("/source/_remote/f678e4204898dc0617d7.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"bely-display";
src:url("/source/_remote/d78e2a08d006ed97dd8d.woff2") format("woff2"),url("/source/_remote/2fc61f5b2e7e389b5b52.woff") format("woff"),url("/source/_remote/b4c4846e576e754844c1.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-maple-web { font-family: "maple-web",sans-serif; }
.tk-bely-display { font-family: "bely-display",sans-serif; }
