/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ambroise-firmin-std:
 *   - http://typekit.com/eulas/000000000000000077359903
 * fantabular-sans-mvb:
 *   - http://typekit.com/eulas/00000000000000007735c7e5
 * maple-web:
 *   - http://typekit.com/eulas/00000000000000003b9ace20
 *   - http://typekit.com/eulas/00000000000000003b9ace1e
 * nobel:
 *   - http://typekit.com/eulas/00000000000000003b9ae84c
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-01-22 17:54:23 UTC"}*/

@import url("/source/_remote/a943f6f469177d0d5c84.css");

@font-face {
font-family:"maple-web";
src:url("/source/_remote/71d7e4bad915759bb2e0.woff2") format("woff2"),url("/source/_remote/9733dc49600a9787506c.woff") format("woff"),url("/source/_remote/2def49638689beeba965.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"maple-web";
src:url("/source/_remote/366ee6cd38d9a2313d78.woff2") format("woff2"),url("/source/_remote/437874b7f7ce12a857e7.woff") format("woff"),url("/source/_remote/f678e4204898dc0617d7.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"ambroise-firmin-std";
src:url("/source/_remote/a2d988652a310333e3c4.woff2") format("woff2"),url("/source/_remote/3261474ac3c9a8213637.woff") format("woff"),url("/source/_remote/cc9a87d3a957140e3fe8.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"nobel";
src:url("/source/_remote/c9a7610f5d510ecb6e34.woff2") format("woff2"),url("/source/_remote/9f2e440ffc3f57cbc3eb.woff") format("woff"),url("/source/_remote/e4452e1c1e12a72e05c8.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"fantabular-sans-mvb";
src:url("/source/_remote/c6dfa22d3a16f5a4f0a3.woff2") format("woff2"),url("/source/_remote/b342ab1115d53a233be5.woff") format("woff"),url("/source/_remote/23af576a7c672e0a1d2f.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-maple-web { font-family: "maple-web",sans-serif; }
.tk-ambroise-firmin-std { font-family: "ambroise-firmin-std",serif; }
.tk-nobel { font-family: "nobel",sans-serif; }
.tk-fantabular-sans-mvb { font-family: "fantabular-sans-mvb", monospace; }
