/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * maple-web:
 *   - http://typekit.com/eulas/00000000000000003b9ace1e
 * termina:
 *   - http://typekit.com/eulas/00000000000000007735b21c
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-01-23 02:07:15 UTC"}*/

@import url("4142b2dc4ecc83057f63.css");

@font-face {
font-family:"maple-web";
src:url("366ee6cd38d9a2313d78.woff2") format("woff2"),url("437874b7f7ce12a857e7.woff") format("woff"),url("f678e4204898dc0617d7.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"termina";
src:url("57c682636b9cb7ce22af.woff2") format("woff2"),url("7ed3b01010f393f56345.woff") format("woff"),url("27de7509a664a6f4fcb4.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-maple-web { font-family: "maple-web",sans-serif; }
.tk-termina { font-family: "termina",sans-serif; }
