/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * cy:
 *   - http://typekit.com/eulas/00000000000000007735cab9
 *   - http://typekit.com/eulas/00000000000000007735caba
 * maple-web:
 *   - http://typekit.com/eulas/00000000000000003b9ace1e
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-01-23 01:58:05 UTC"}*/

@import url("/source/_remote/5835f19ea0285d001ef9.css");

@font-face {
font-family:"maple-web";
src:url("/source/_remote/366ee6cd38d9a2313d78.woff2") format("woff2"),url("/source/_remote/437874b7f7ce12a857e7.woff") format("woff"),url("/source/_remote/f678e4204898dc0617d7.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"cy";
src:url("/source/_remote/cdbd1419453be740f761.woff2") format("woff2"),url("/source/_remote/ea87479359067d1f8c1c.woff") format("woff"),url("/source/_remote/ad812aff7fe3f1030dd8.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"cy";
src:url("/source/_remote/26ad7544cf3f311c3d8e.woff2") format("woff2"),url("/source/_remote/66b5d57ebc831be10199.woff") format("woff"),url("/source/_remote/a52628dea47936eb8e68.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-maple-web { font-family: "maple-web",sans-serif; }
.tk-cy { font-family: "cy",sans-serif; }
