/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * acumin-pro:
 *   - http://typekit.com/eulas/00000000000000003b9acaf4
 *   - http://typekit.com/eulas/00000000000000003b9acaf6
 * kudryashev-d-excontrast-sans:
 *   - http://typekit.com/eulas/00000000000000007735e0cf
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-07-03 08:17:31 UTC"}*/

@import url("/source/_remote/dd59346d0354cefcc717.css");

@font-face {
font-family:"acumin-pro";
src:url("/source/_remote/10d626545d6f3bebdb3e.woff2") format("woff2"),url("/source/_remote/3b29f06e39da32917f88.woff") format("woff"),url("/source/_remote/6fb358a6990676c368ae.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"acumin-pro";
src:url("/source/_remote/462b19cb6941149bf035.woff2") format("woff2"),url("/source/_remote/fc3bd42a3c31070372c7.woff") format("woff"),url("/source/_remote/675379763a5eba3da2fa.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"kudryashev-d-excontrast-sans";
src:url("/source/_remote/e03b66d560d3a3334311.woff2") format("woff2"),url("/source/_remote/767af7e40f480a1a344c.woff") format("woff"),url("/source/_remote/6c072f6e96d6e937a515.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

.tk-acumin-pro { font-family: "acumin-pro",sans-serif; }
.tk-kudryashev-d-excontrast-sans { font-family: "kudryashev-d-excontrast-sans",sans-serif; }
