@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/source/_remote/f2b12399ec777d554354.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url(/source/_remote/a760510ed3cd4ae08afa.ttf) format('truetype');
}
