/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * microgramma-extended:
 *   - http://typekit.com/eulas/00000000000000003b9ae96c
 * organetto-variable:
 *   - http://typekit.com/eulas/0000000000000000774d56e8
 * vinila:
 *   - http://typekit.com/eulas/00000000000000007736bf35
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-04-18 22:48:58 UTC"}*/

@import url("79a8d2a93ecf032e3504.css");

@font-face {
font-family:"microgramma-extended";
src:url("bfbedd0cc87a4eb4492f.woff2") format("woff2"),url("bcf624c383132dae61fe.woff") format("woff"),url("84fe6b318c4dc2615747.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"vinila";
src:url("3ec32e09bc7eb5e4ffc6.woff2") format("woff2"),url("a43957f1006f50d0a4dc.woff") format("woff"),url("839afa21781bbff7e1ca.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"organetto-variable";
src:url("b63b3bbd3425760b5d13.woff2") format("woff2"),url("a9c0de9f9505a0693bb2.woff") format("woff"),url("2d4a198c118d906888c1.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-microgramma-extended { font-family: "microgramma-extended",sans-serif; }
.tk-vinila { font-family: "vinila",sans-serif; }
.tk-organetto-variable { font-family: "organetto-variable",sans-serif; }
