/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * area-normal:
 *   - http://typekit.com/eulas/0000000000000000774b9fbd
 *   - http://typekit.com/eulas/0000000000000000774b9fc1
 *   - http://typekit.com/eulas/0000000000000000774b9fc8
 * stinger-variable:
 *   - http://typekit.com/eulas/0000000000000000774bf526
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-04-04 23:29:21 UTC"}*/

@import url("/source/_remote/b33336d4b9ccb0e5c73b.css");

@font-face {
font-family:"stinger-variable";
src:url("/source/_remote/def21ea6ab25e12d4297.woff2") format("woff2"),url("/source/_remote/57f5d7d9e10983e6a957.woff") format("woff"),url("/source/_remote/86f1c1aae15d21455f37.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"area-normal";
src:url("/source/_remote/5a096bd99817957b190b.woff2") format("woff2"),url("/source/_remote/d7fe4fe375a41b8f2bca.woff") format("woff"),url("/source/_remote/94f41d05f2a934d7202f.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"area-normal";
src:url("/source/_remote/d89c59bb309eef3d54d7.woff2") format("woff2"),url("/source/_remote/0faf7798b1e6dad1382a.woff") format("woff"),url("/source/_remote/316b48760ea05adf8c6e.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"area-normal";
src:url("/source/_remote/55ba35b083a83bc3c8e3.woff2") format("woff2"),url("/source/_remote/baf8745dfacbae658fc7.woff") format("woff"),url("/source/_remote/df559b9f2d9c7aa1205e.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

.tk-stinger-variable { font-family: "stinger-variable",sans-serif; }
.tk-area-normal { font-family: "area-normal",sans-serif; }
